{% assign researchinterests = site.data.data.sidebar.researchinterests %}
{% if researchinterests %}
<div class="researchinterests-container container-block">

  <h2 class="container-block-title">
    Research Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for researchinterest in researchinterests %}

      {% if researchinterest.link %}
      <li><a href="{{ researchinterest.link }}">{{ researchinterest.item }}</a></li>
      {% else %}
      <li>{{ researchinterest.topic }}<span class="lang-desc">({{ researchinterest.specific }})</span></li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
